admin1CodesASCII.txt
admin2Codes.txt
allCountries.txt
alternateNames.txt
countryInfo.txt
featureCodes_en.txt
hierarchy.txt
iso-languagecodes.txt
no-country
timeZones.txt
/geonames_db_importer.sublime-project
/geonames_db_importer.sublime-workspace
.DS_Store
.idea/
