data/admin1CodesASCII.txt
data/admin2Codes.txt
data/allCountries.txt
data/alternateNames.txt
data/countryInfo.txt
data/featureCodes_en.txt
data/hierarchy.txt
data/iso-languagecodes.txt
data/timeZones.txt
data/no-country

# no ignore, absent on geonames.org
# data/continentCodes.txt